* {
    padding: 0;
    margin: 0;
}

:root {
    --main-color: white;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #dde1e7;
}
.figure{
    width: 150px;
    height: 150px;
    box-shadow: -5px -5px 9px #ffffff73, 5px 5px 7px #5e687949;
    display: grid;
    justify-content: center;
    align-items: center;
}
.infigure{
    width: 120px;
    height: 120px;
    box-shadow: inset -5px -5px 9px #ffffff73, inset 5px 7px #5e687949;
}
.circle, .incircle{
    border-radius: 100%;
}

.figure:hover {
    transition: 0.3s;
    box-shadow: inset -5px 9px #ffffff73, inset 5px 7px #5e687949;
}

/* .figure:hover > .infigure {
    transition: 1s all;
    background-color: blanchedalmond;
    box-shadow: -5px -5px 9px #ffffff73, 5px 7px #5e687949;
} */

.hovered {
    background: var(--main-color);
}

.small {
    width: 80px;
    height: 80px;
}