* {
    background: pink;
}
.red{
    background: red;
}
#blue{
    background: blue;
}
div.red{
    color: blue;
}
div.red.green-text{
    color: green;
}
li{
    background: aqua;
}
div b {
    background: wheat;
}

a {
    color: #0000ff;
    text-decoration: none;
  }
  
  a::before {
    content: '🔗';
  }
  
  .local-link::before {
    content: url('../../media/examples/firefox-logo.svg');
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }
  