
*{
    margin: 0;
}

#parent{
    display: flex;
    background: rgba(255, 192, 203, 0.664);
    width: 100vw;
    height: 100vh;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
}

.child{

    background: yellow;
    width: 200px;
    height: 200px;
    margin: 5px;
}