.container{
    display: grid;
    /* grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-auto-rows: minmax(50px, auto); */
    grid-template-areas: 
        'header header'
        'sidebar content';
    grid-gap: 5px;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 50px 1fr;

}

.item{
    padding: 10px;
    border: 1px solid black;
}

.header{
    grid-area: header;
}

.sidebar{
    grid-area: sidebar;
    align-self: self-start;
    padding: 0;
}

.content{
    grid-area: content;
    text-align: center;
    
}

/*
.item_3{ */
    /* justify-self: start; */
    /* grid-column: 1/3;
    max-height: 100px;
    padding: 0px;
}

.item_4, .item_5{
    border-top: 0;
}

.item_1, .item_2{
    border-bottom: 0;
}*/

.flag_img{
    display: block;
    margin: auto;
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
} 