body{
    background: pink;
}

.newnewlayout{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.first{
    flex-shrink: 1;
}

.second{
    flex-shrink: 2;
}


.newnewlayout div{
    background: red;
    height: 50px;
    flex-basis: 200px;
    margin: 10px;
    border: 1px solid black
}