.task {
    max-width: 150px;
    max-height: 100px;
    background: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.task-info {
    font-size: 1.1rem;
    color: white;
    padding: 5px;
    text-align: center;
}

.task-info h1{
    padding: 5px;
    
}