.task-grid {
    max-width: 90%;
    margin: 15px;
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 2px;
    background-color: rgba(137, 207, 240, 1);
    position: relative;
}

.task-grid .task:last-child {
    gap: unset;
}