.task {
    max-width: 100%;
    background: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task-info {
    color: white;
    padding: 5px;
    text-align: center;
}



.task-info h6{
    padding: 5px 0px;
    
}
.task-info p{
    text-overflow: ellipsis; 
    white-space: wrap;
    word-wrap: break-word; 
    font-size: 0.7em;
}