.task-grid {
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 5px;
    background-color: rgba(137, 207, 240, 1);
    padding: 20px;
    position: relative;
    z-index: 2;

}

.task-grid .task:last-child{
    gap: unset;
}



