h1{
    background-color: yellow;
    width: 350px;
    height: 200px;
    font-size: 16px;
    font-weight: normal;
}

.blue{
    color: white;
    background: blue;
    font-size: 30px;
    width: 150px;
    height: 150px;
    display: inline;
}

.red{
    /* width: 250px; */
    /* height: 250px; */
    font-size: 32px;
    font-weight: bold;
    background: red;
    display: block;
}
body{
    background: pink;
}
/* .aside{
    color: green;
    background: aqua;
    text-align: right;
} */